#avtor{
    font-size: 32px;
    text-align: center;
    position: absolute;
    font-family: 'Roboto';
width: 403px;
height: 30px;
left: 758px;
letter-spacing: 0.15em;
top: 812px;
line-height: 37px;

}
.about-description{
    position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 892px;
font-family: 'Roboto';
    color: #727272;
    font-size: 16px;
    line-height:26px;
    text-align: center;
}   

.projects{
    position: absolute;
    width: 1920px;
    top: 1059px;
    

    height: 250px;
    background: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project{
    display: flex;
    align-items: center;
    margin-right: 40px;

}
.project-icon{
    height: 50px;
    width: 50px;
}
.project-text{
    font-size: 16px;
    color: white;
    margin-left: 20px;
    font-family: 'Roboto';
    
}

